
algo2/__pycache__/Linked2.cpython-39.pyc
*.pyc
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
ooap2/.idea/inspectionProfiles/profiles_settings.xml
ooap2/.idea/inspectionProfiles/Project_Default.xml
.idea/learning.iml
.idea/vcs.xml
ooap2/.idea/misc.xml
ooap2/.idea/modules.xml
ooap2/.idea/ooap2.iml
ooap2/.idea/vcs.xml
/java/7/bin
java/7/sources.txt
